<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Data Collection Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<h1>Student Feedback Form</h1>
<form action="/feedback" method="post">
    {{ form.hidden_tag() }}
    <div>
        <label for="name">{{ form.name.label }}</label>
        {{ form.name() }}
    </div>
    <div>
        <label for="course">{{ form.course.label }}</label>
         {{ form.course() }}
    </div>
    <div>
        <label for="short-answer">{{ form.short_answer.label }}</label>
        {{ form.short_answer() }}
    </div>
    <div>
        <label for="long-answer">{{ form.long_answer.label }}</label>
        {{ form.long_answer() }}
    </div>
    <div>
        <label for="satisfaction">{{ form.satisfaction.label }}</label>
        {{ form.satisfaction() }}
    </div>
    <div>
        <label for="recommend">{{ form.recommend.label }}</label>
        {{ form.recommend() }}
    </div>
    <div>
        <label for="improvements">{{ form.improvements.label }}</label>
         {{ form.improvements() }}
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>
