<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information on Data Collection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <h1>Why We Collect Student Data</h1>
    </header>
    <main>
        <p>The purpose of collecting data on student progress at GIC is to improve academic outcomes and enhance the overall student experience. Your input helps us identify areas for improvement and tailor our programs to better meet student needs.</p>
    </main>
    <footer>
        <p>&copy; 2024 Glasgow International College</p>
    </footer>
</body>
</html>
