<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to GIC Student Progress</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Welcome to GIC Student Progress Assessment</h1>
</header>
<section>
    <p>This website helps in assessing and collecting data on students' progress at GIC.</p>
    <nav>
        <ul>
            <li><a href="/information">Information</a></li>
            <li><a href="/data_collection">Data Collection</a></li>
            <li><a href="/current_feedback">Current Submission</a></li>
        </ul>
    </nav>
</section>
</body>
</html>
